:host {
  .bg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #40444d;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    &.left-side {
      background-image: linear-gradient(to top, #e4e4e4, #40444d),
        url(../assets/240.jpg);

      .front-door {
        top: 57%;
        left: 36%;
      }

      .rear-door {
        top: 57%;
        left: 48%;
      }
    }

    &.right-side {
      background-image: linear-gradient(to top, #e4e4e4, #40444d),
        url(../assets/120.jpg);

      .front-door {
        top: 57%;
        left: 57%;
      }

      .rear-door {
        top: 57%;
        left: 45%;
      }
    }
  }

  .container {
    .btn-group {
      margin: 1rem;

      .btn {
        padding: 0.5rem;
        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    .left-button {
      position: fixed;
      left: 1rem;
      top: 48%;
      font-weight: 700;
      font-size: 2rem;
    }

    .right-button {
      position: fixed;
      right: 1rem;
      top: 48%;
      font-weight: 700;
      font-size: 2rem;
    }

    .points-wrapper {
      .point {
        position: absolute;
        cursor: pointer;
        height: 2rem;

        .label {
          height: 2rem;
          line-height: 2.125rem;
          background-color: rgba(0, 0, 0, 0.25);
          padding: 0 10px;
          border-radius: 4px;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          position: absolute;
          top: 0;
          left: 35px;
          white-space: nowrap;

          &.LOCKED {
            color: red;
          }

          &.UNLOCKED {
            color: greenyellow;
          }
        }
      }
    }
  }
}
