<div
  class="container bg"
  [ngClass]="{
    'left-side': activeSide === 'left',
    'right-side': activeSide === 'right' || activeSide === null
  }"
>
  <div class="btn-group">
    <button class="btn" (click)="authorize()">Login with MB</button>
    <button class="btn" *ngIf="carService.isReady" (click)="getStatesOfDoors()">Get State Of Doors</button>
    <button class="btn" *ngIf="carService.isReady" (click)="lockDoors()">Lock Doors</button>
    <button class="btn" *ngIf="carService.isReady" (click)="unlockDoors()">Unlock Doors</button>
  </div>

  <button *ngIf="activeSide !== 'right' && activeSide !== null" (click)="changeSide('right')" class="left-button">&larr;</button>

  <button *ngIf="activeSide !== 'left' && activeSide !== null" (click)="changeSide('left')" class="right-button">&#8594;</button>

  <div class="points-wrapper" *ngIf="activeSideDoorStates !== null">
    <span>
      <div class="points">
        <div class="point front-door">
          <div class="label {{activeSideDoorStates.front}}">{{activeSideDoorStates.front}}</div>
        </div>
        <div class="point rear-door">
          <div class="label {{activeSideDoorStates.rear}}">{{activeSideDoorStates.rear}}</div>
        </div>
      </div>
    </span>
  </div>
</div>
